
body{
	background-color:#000000;
}

.playground{
	width:100%;
	height:100%;
}

.container{
	
	margin-top:20%;
	margin-bottom:20%;
	height:60%;
	margin-left:20%;
	margin-right:20%;
	width:60%;
	padding:20px;
	border: 1px solid; 
	border-color:#ffffff;
	display:inline-block;
	position:center;

}

.marco_login{

	height:33%;
	/*margin-top:33%;
	margin-bottom:33%;*/
	width:33%;
	margin-left:33%;
	margin-right:33%;
	padding:10px;
	border:1px solid;
	border-radius:10px;
	border-color:#ffffff;
	display: inline-block;
	

}

.form_element{
	position:center;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.form_label{

	color:#ffffff;
	text-align:center;
	
}

.form_element .form_text{
	
	margin-left:20%;
	margin-right:20%;		
	width:60%;
	max-width:200px;
	
}


.form_text:focus{
	background-color:#dddddd;

}

.form_txt .form_psw{
	background-color:#FFFFFF;
}

.form_element .form_button{
	
}
